extends layout

block content
  .header
    .headline
      |screenwritr
  .hero
    .banner-text
      |Write Your Heart Out
      .banner-subtitle
        |Sign up and start writing your next great screenplay
  .content
    .container
      .bullet-points
        .row
          .col-xs-12.col-md-4
            .list-title
              |Write Scripts in your Browser
            ul.list.fa-ul
              li= 'Write shit with the best tools to help write your better screenplay'
                i.fa-li.fa.fa-angle-double-right
              li= 'Auto-formatting and helpful tools such as character tracking, image sharing, and other stuff'
                i.fa-li.fa.fa-angle-double-right
              li= 'Export scripts into any of several formats for sharing or printing or what have you'
                i.fa-li.fa.fa-angle-double-right
          .col-xs-12.col-md-4
            .list-title
              |Share Documents in a Flash
            ul.list.fa-ul
              li= 'You literally can just think it and it will be shared'
                i.fa-li.fa.fa-angle-double-right
              li= 'Show off your shit off to everybody!'
                i.fa-li.fa.fa-angle-double-right
              li= 'You will be so popular'
                i.fa-li.fa.fa-angle-double-right
          .col-xs-12.col-md-4
            .list-title
              |Collaborate with Friends in Real-Time
            ul.list.fa-ul
              li= 'Call up your squad and have them take a quick read-over!'
                i.fa-li.fa.fa-angle-double-right
              li= 'You can see them type on your shit in real time!'
                i.fa-li.fa.fa-angle-double-right
              li= 'I\'m serious! Like letter by letter you\'ll see that shit type!'
                i.fa-li.fa.fa-angle-double-right
      .more-spunk
        .row
          .col-xs-12.app-preview

